.sidebarMenu{
  min-height: 100vh;
  width: 150px;
  background: skyblue;
  display: flex;
  flex-direction: column;
}

.sidebarMenu a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #efefef;
  transition: color .2s;
  padding: 5px;
  margin-bottom: 5px;
}

.sidebarMenu a:hover,
.sidebarMenu a.active{
  color: skyblue;
  background: #fff;
  border-radius: 5px;

}

.layoutContainer{
  display: flex;
}

.card-title{
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}

.content{
  width: calc(100vw - 150px);
  padding: 10px;
}